<section class="introGold introGold_startkit">
  <div class="introGold_img"></div>
  <div class="container">
    <div class="introGold_wrapper">
      <h1 class="title title-white title-introStartkit">@@context.title</h1>
      <div class="introGold_description">@@context.description</div>
      <div class="introGold_boxBtn">
        <a class="btn btn-red btn-introStartkit" href="@@context.linkPromo">Получить промо-кит</a>
        <a class="btn btn-redTransparent btn-introStartkit" href="@@context.linkLk">Войти в кабинет</a>
      </div>
    </div>
  </div>
  <div class="introGold_line">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="shape-two" viewBox="0 0 1000 85" preserveAspectRatio="none">
      <polygon fill="#1c1c1c" class="ls-triangle-section_left" points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
      <polygon fill="#1c1c1c" class="ls-triangle-section_right" points="1000,0   1000,86   500,86   500,75.5"></polygon>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="shape-three" viewBox="0 0 1200 125" preserveAspectRatio="none">
      <path id="Combined_Shape" data-name="Combined Shape" d="M600,97,1200,0V4L600,125ZM0,4V0L600,97v28Z" fill="#d7bb77"/>
    </svg>
  </div>
</section>